@mixin replace-text-colors($h1-color, $h2-color) {
  h1 {
    color: $h1-color;
  }
  h2 {
    color: $h2-color;
  }
}

@mixin smoothTransition(){
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}