@media only screen and (min-device-width: 250px) and (max-device-width: 321px) and (orientation: portrait) {
  main, section {
    min-height: 100vh;
    margin-top: 0 !important;
    &#git {
      max-height: 23vh;
    }
    &#social {
      max-height: 18vh;
    }
  }
  h1 {
    font-size: 320%;
  }
  h2 {
    font-size: 200%;
  }
  p {
    font-size: 110%;
    line-height: 110%;
    max-width: 100vw;
    padding-right: 8%;
  }
  button {
    font-size: 1em;
    width: 20%;
    height: 40%;
  }
  #logo {
    background-color: $button-text-color;
    width: auto;
    height: 20%;
    i {
      font-family: "Dancing Script", serif;
      font-style: italic;
      font-size: 5em;
      color: $primaryMainColor;
      height: 30%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}