@media only screen and (max-width: 750px) {
  #burger {
    display: inline;
    float: right;
    margin-right: $page-margin;
    width: 60px;
    height: 60px;
  }

  #phone {
    display: none;
  }

  .div-two-third {
    width: 100%;
  }

  header {
    display: block;
  }

  ul {
    text-align: center;
  }

  li {
    display: block;
    background-color: $about-font-2nd-color;
    border-bottom: 1px solid black;
    &:last-child {
      border-bottom: none;
    }
  }

  nav {
    display: none;
    width: 95%;
  }

  .nav-show {
    display: block;
  }

  .round-button {
    width: 60px;
    height: 60px;
    border: solid $about-font-color 0.5px;
    border-radius: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $about-font-2nd-color;
    i {
      font-size: 30px;
    }
  }

  h1 {
    font-size: 3.72em;
  }

  h2 {
    font-size: 1.62em;
    line-height: 42px;
  }

  label {
    font-size: 21px;
  }

  input[type="email"] {
    width: 390px;
    height: 24px;
    margin-top: 6px;
    font-size: 18px;
  }
}
