main {
  max-height: 650px;
  background-color: $header-color;
  color: white;
  position: relative;
}

section {
  position: relative;
  &#about {
    height: 500px;
    background-color: $about-color;
    z-index: 50;
  }
  &#devices {
    background-color: $button-text-color;
    z-index: 100;
  }
  &#git {
    background-color: $footerColor;
  }
  &#contact {
    background-color: $about-color;
  }
}

.section-wrapper {
  padding-top: 35px;
  padding-bottom: 35px;
  margin-left: $page-margin;
  margin-right: $page-margin;
}