@media only screen and (max-width: 421px) {
  label {
    display: block;
    font-size: 35px;
  }

  input[type="email"] {
    width: 90%;
    height: 23px;
    margin-top: 8px;
    font-size: 17px;
    text-align: center;
    border: solid black;
    &:focus {
      box-shadow: none;
      border: solid $button-color;
    }
  }

  button {
    margin-top: 2px;
  }

  .round-button {
    display: block;
    width: 50%;
    height: 70px;
    border: solid $about-font-color 3px;
    border-radius: 15px;
    margin-left: 25%;
    margin-right: 0;
    background-color: $about-font-2nd-color;
    i {
      font-size: 60px;
    }
    &#burger{
      i{
        font-size: 30px;
      }
    }
  }
}